

    

    .MuiTablePagination-select {
        padding-left: 8px !important;
        padding-right: 24px !important;
    }
    .MuiTablePagination-caption {
    font-size:1.5rem !important;
    font-family: 'Avenir-Black' !important;
 
  }
    .MuiInputBase-input {
    padding-bottom: 10px !important;
    ;

}
.ant-popover-message-title {
    font-family: 'Avenir-Black';
}
.ant-popover-buttons {
    font-family: 'Avenir-Black';
}
.active-checkbox{
    padding:4px !important;
}
.ordericon-container{
width:18px;
height:auto;
cursor: pointer;
margin-left: 10px;
}
.ordericon{
    width:100%;
    height:100%
}
.active-check{
margin-left: 10px;
}
.UserGroup-Description{
    padding-left: 50px !important;
}
.clients-eyeview{
    width:18px;
    height: auto;
    cursor: pointer;
    margin-left: 10px;
}